body {
  background-color: lightcyan;
}

.btn-primary {
  background-color: #184ca0;
}

.btn-info {
  background-color: #184ca0;
}

.btn-info:hover {
  background-color:#2067d8;
}

.btn-primary:hover {
  background-color:#2067d8;
}

.hidden {
  display: none
}